# Dependencies
node_modules/

# Build output
dist/
.next/
*.pyc

# System files
.DS_Store

# Environment variables
.env
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Emulator files
public/emulatorjs/data
public/emulatorjs/cores
public/emulatorjs/emulators
public/emulatorjs/*.js
public/emulatorjs/*.css

# Game ROMs
public/games/

tsconfig.tsbuildinfo
/backend/__pycache__